@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');


h1{
    font-family: "Sen", serif;
    font-style: normal;
    color: #FFFFFA;
    font-size: 50px;
    padding-left: 40px;
    letter-spacing: -5px;
  }

body {
    font-family: "Jost", serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color:#0D5C63;
    padding: 10px 0;
    padding-left: 32px;
    text-align: left;
    border-top: 2px solid white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FFFFFA;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
    
}
.yläpalkki{
    background-color: #0D5C63;
    padding-top: 20px;
    text-align: left;
}
h2{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}
h3{
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}
p{
    padding-left: 40px;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    margin: auto;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 80%;
    padding: 10px;
    background-color: #14838d;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.login-container button:hover {
    background-color: #0D5C63;
}
